In [7]:
import pandas as pd
import geopandas as gpd

Note: This is corrected data they gave me that includes the correct date entered, which is the date that the eviction was ordered by the court.I added a manually corrected ordered entered date column and corrected two dates that were pretty clearly suppposed to be 2023.

In [49]:
# load completed evictions data
df = pd.read_excel('source/Completed Evictions - 2019-01-01 to 2023-04-30 v2.xlsx')

In [50]:
# inspect
df.head()

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,Defendant Name
0,2015CH006218,NaT,2008-04-24 00:00:00,2008-04-24,2019-01-14,2019-04-18,20835 NA LONDON DR NA,OLYMPIA FIELDS,IL,60461,DEUTSCHE BANK NATIONAL TRUST COMPANY,"BAKER, WILLIE"
1,2017CH007498,NaT,2010-02-05 00:00:00,2010-02-05,2019-02-04,2019-03-22,14245 S CLEVELAND NA NA,POSEN,IL,60469,CITIMORTGAGE INC,"CARDENAS, DAVID"
2,20171707493,NaT,2010-02-22 00:00:00,2010-02-22,2019-02-11,2019-05-07,233 E ERIE ST 1205,CHICAGO,IL,60611,STREETERVILLE CENTER CONDO ASSN,"ALMAGUER, ANTHONY"
3,2009CH021250,NaT,2010-07-01 00:00:00,2010-07-01,2019-07-15,2019-09-25,15938 NA DOBSON AVE NA,SOUTH HOLLAND,IL,60473,US BANK NA,"COLE, BRADFORD L"
4,2018CH00992,NaT,2010-10-25 00:00:00,2010-10-25,2019-09-20,2019-10-29,1007 N LOREL AVE NA,CHICAGO,IL,60651,FEDERAL NATIONAL MORTGAGE ASSOC,"SATTERFIELD, REGINA"

In [80]:
# convert File Date to datetime
df['File Date'] = pd.to_datetime(df['File Date'])
df['file_year'] = df['File Date'].dt.year
df['file_month_year'] = df['File Date'].dt.strftime('%m/%Y')

# convert Date of Eviction to datetime
df['Date of Eviction'] = pd.to_datetime(df['Date of Eviction'])
df['enforced_year'] = df['Date of Eviction'].dt.year
df['enforced_month_year'] = df['Date of Eviction'].dt.strftime('%m/%Y')

# convert Received Date to datetime
df['Received Date'] = pd.to_datetime(df['Received Date'])
df['received_year'] = df['Received Date'].dt.year
df['received_month_year'] = df['Received Date'].dt.strftime('%m/%Y')

# convert Order Entered Date to datetime
df['Corrected Order Entered Date'] = df['Corrected Order Entered Date'].astype(str) # need to convert to str
df['Corrected Order Entered Date'] = pd.to_datetime(df['Corrected Order Entered Date'])
df['entered_year'] = df['Corrected Order Entered Date'].dt.year
df['entered_month_year'] = df['Corrected Order Entered Date'].dt.strftime('%m/%Y')

In [52]:
# convert Order Entered Date to datetime
df['Corrected Order Entered Date'] = df['Corrected Order Entered Date'].astype(str) # need to convert to str
df['Corrected Order Entered Date'] = pd.to_datetime(df['Corrected Order Entered Date'])
df['entered_year'] = df['Corrected Order Entered Date'].dt.year
df['entered_month_year'] = df['Corrected Order Entered Date'].dt.strftime('%m/%Y')

In [37]:
# total number of records 
len(df)

18123

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18123 entries, 0 to 18122
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Case Number                   18123 non-null  object
 1   File Date                     14768 non-null  datetime64[ns]
 2   Order Entered Date            18083 non-null  object
 3   Corrected Order Entered Date  18082 non-null  datetime64[ns]
 4   Received Date                 18123 non-null  datetime64[ns]
 5   Date of Eviction              18123 non-null  datetime64[ns]
 6   Address                       18123 non-null  object
 7   City                          18123 non-null  object
 8   State                         18123 non-null  object
 9   ZIP Code                      18123 non-null  int64
 10  Plaintiff Name                18122 non-null  object
 11  Defendant Name                18123 non-null  object
 12  file_year                     14768 non-null  float64
 13  file_month_year               14768 non-null  object
 14  enforced_year                 18123 non-null  int64
 15  enforced_month_year           18123 non-null  object
 16  received_year                 18123 non-null  int64
 17  received_month_year           18123 non-null  object
 18  entered_year                  18082 non-null  float64
 19  entered_month_year            18082 non-null  object
dtypes: datetime64[ns](4), float64(2), int64(3), object(11)
memory usage: 2.8+ MB

In [54]:
# check start date by date of eviction
df.sort_values('Date of Eviction', ascending=True).head(2)

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,Defendant Name,file_year,file_month_year,enforced_year,enforced_month_year,received_year,received_month_year,entered_year,entered_month_year
367,20181709824,NaT,2018-10-05 00:00:00,2018-10-05,2018-11-06,2019-01-07,231 NA DEWEY AVE ENTIRE PREMISES,MELROSE PARK,IL,60164,US BANK NA,"OCON, MARIA",NaN,NaN,2019,01/2019,2018,11/2018,2018.0,10/2018
553,20184006863,2018-10-12,2018-10-29 00:00:00,2018-10-29,2018-11-15,2019-01-07,2545 S 56TH CT 1,CICERO,IL,60804,"WEISS, MITCH","PORTER, DENISE",2018.0,10/2018,2019,01/2019,2018,11/2018,2018.0,10/2018

In [55]:
# check end date
df.sort_values('Date of Eviction', ascending=False).head(2)

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,Defendant Name,file_year,file_month_year,enforced_year,enforced_month_year,received_year,received_month_year,entered_year,entered_month_year
17819,20221715684,2022-10-06,2023-02-15 00:00:00,2023-02-15,2023-03-10,2023-04-28,1924 S ALBANY AVE UNIT 3R,CHICAGO,IL,60623,PRODIGY LLC,"CRENSHAW, RASHEED",2022.0,10/2022,2023,04/2023,2023,03/2023,2023.0,02/2023
17900,20221718544,2022-12-01,2023-02-22 00:00:00,2023-02-22,2023-03-10,2023-04-28,2344 S DRAKE AVE 2ND FLR,CHICAGO,IL,60623,"LOERA, BERNARDO DE","PEREZ, JOSEPHINE",2022.0,12/2022,2023,04/2023,2023,03/2023,2023.0,02/2023

In [56]:
# check that my data matches up with Matt's data and that they used completed evictions
# Matt's data is from 1/1/2019 to 3/31/2022 and has 10,850 rows
mask = df['Date of Eviction'] < '2022-04-01'
check = df.loc[mask]
len(check)

11829

In [57]:
# check the number of nulls in corrected entered date
df['Corrected Order Entered Date'].isnull().sum()

41

In [58]:
# check the number of nulls in file date
df['File Date'].isnull().sum()

3355

In [59]:
# 19% of the all records don't have a file date
df['File Date'].isnull().sum()/len(df)

0.18512387573801248

In [60]:
# create a df for evictions completed prior to and after oct 3 2021, when the moratorium ended
# https://www.wbez.org/stories/the-eviction-moratorium-in-illinois-has-ended/326f1ffb-2262-4c5a-afa4-047bf65d56c1
mask = (df['Date of Eviction'] > '2021-10-03')
df_post = df.loc[mask].copy()
len(df_post)

8121

In [61]:
# check start date
df_post.sort_values('Date of Eviction', ascending=True).head(2)

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,Defendant Name,file_year,file_month_year,enforced_year,enforced_month_year,received_year,received_month_year,entered_year,entered_month_year
10686,2021701729,NaT,2021-09-09 00:00:00,2021-09-09,2021-09-22,2021-10-04,111 W WACKER DR 1614,CHICAGO,IL,60601,BOZZUTO MANAGEMEN COMPANY,"AFESUKU, TAMARAMIEMENE",NaN,NaN,2021,10/2021,2021,09/2021,2021.0,09/2021
10701,20211700624,2021-02-23,2021-09-13 00:00:00,2021-09-13,2021-09-23,2021-10-04,701 S WELLS ST UNIT #2004,CHICAGO,IL,60607,"PURDY, JULIE","SMITH, ASHA GLADNEY",2021.0,02/2021,2021,10/2021,2021,09/2021,2021.0,09/2021

In [62]:
# check end date
df_post.sort_values('Date of Eviction', ascending=False).head(2)

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,Defendant Name,file_year,file_month_year,enforced_year,enforced_month_year,received_year,received_month_year,entered_year,entered_month_year
15651,20221709957,2022-07-06,2022-10-05 00:00:00,2022-10-05,2023-03-09,2023-04-28,2022 W RANDOLPH ST NA,CHICAGO,IL,60612,VILLAGES OF WESTHAVEN,"PETTY, DARRYL",2022.0,07/2022,2023,04/2023,2023,03/2023,2022.0,10/2022
17983,20221714261,2022-09-13,2023-03-01 00:00:00,2023-03-01,2023-03-10,2023-04-28,113 N LOREL AVE 1,CHICAGO,IL,60644,"KELLEY, SEAN","NEAL, SHAUNTA",2022.0,09/2022,2023,04/2023,2023,03/2023,2023.0,03/2023

In [63]:
# create a pre moratorium dataframe
mask = (df['Date of Eviction'] < '2020-03-01')
df_pre = df.loc[mask].copy()
len(df_pre)

8343

In [64]:
# check end date
df_pre.sort_values('Date of Eviction', ascending=False).head(2)

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,Defendant Name,file_year,file_month_year,enforced_year,enforced_month_year,received_year,received_month_year,entered_year,entered_month_year
8369,20191715891,2019-10-02,2019-12-13 00:00:00,2019-12-13,2020-01-07,2020-02-28,3126 5 N SPAULDING AVE 3E,CHICAGO,IL,60618,SVIGOS ASSET MANAGEMENT,"FITZGERALD, KATHRYN",2019.0,10/2019,2020,02/2020,2020,01/2020,2019.0,12/2019
8541,20191718346,2019-11-14,2019-12-26 00:00:00,2019-12-26,2020-01-03,2020-02-28,1002 N CENTRAL AVE APT 3,CHICAGO,IL,60651,"BALLEZA, MAURO","SANTANA, STEPHANIE",2019.0,11/2019,2020,02/2020,2020,01/2020,2019.0,12/2019

In [65]:
# create a df for evictions completed 12 months prior to oct 3, 2021 and 12 months after oct 3, 2021
mask = (df['Date of Eviction'] >= '2020-10-03') & (df['Date of Eviction'] <= '2021-10-03')
df_pre_12 = df.loc[mask].copy()
len(df_pre_12)

1371

In [66]:
# create a df for evictions completed 12 months prior to oct 3, 2021 and 12 months after oct 3, 2021
mask = (df['Date of Eviction'] > '2021-10-03') & (df['Date of Eviction'] <= '2022-10-03')
df_post_12 = df.loc[mask].copy()
len(df_post_12)

4322

Renters data source: https://censusreporter.org/data/map/?table=B25003&geo_ids=05000US17031,860%7C05000US17031&primary_geo_id=05000US17031#column%7CB25003002,sumlev%7C860

In [67]:
# load renter units data
renters = pd.read_csv('source/acs2021_5yr_B25003_86000US60074.csv')

In [68]:
# inspect
renters.head()

,geoid,name,B25003001,"B25003001, Error",B25003002,"B25003002, Error",B25003003,"B25003003, Error"
0,05000US17031,"Cook County, IL",2044658,3765,1175143,6780,869515,6667
1,86000US60004,60004,20494,489,15763,617,4731,401
2,86000US60005,60005,12405,560,7906,450,4499,505
3,86000US60007,60007,12745,507,9553,490,3192,376
4,86000US60008,60008,8731,363,6217,341,2514,309

In [69]:
# delete the first row which is the cook county total
renters = renters[1:]

In [70]:
# rename columns
columns = ['geoid', 'zip', 'total', 'total_moe', 'owner_occupied', 'owner_occupied_moe', 'renter_occupied', 'renter_occupied_moe']
renters.columns = columns

In [71]:
renters.head()

,geoid,zip,total,total_moe,owner_occupied,owner_occupied_moe,renter_occupied,renter_occupied_moe
1,86000US60004,60004,20494,489,15763,617,4731,401
2,86000US60005,60005,12405,560,7906,450,4499,505
3,86000US60007,60007,12745,507,9553,490,3192,376
4,86000US60008,60008,8731,363,6217,341,2514,309
5,86000US60010,60010,16999,575,14906,520,2093,462

In [72]:
renters['zip'] = renters['zip'].astype(int)

### How many total evictions were enforced by the sheriff's office each year?

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18123 entries, 0 to 18122
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Case Number                   18123 non-null  object
 1   File Date                     14768 non-null  datetime64[ns]
 2   Order Entered Date            18083 non-null  object
 3   Corrected Order Entered Date  18082 non-null  datetime64[ns]
 4   Received Date                 18123 non-null  datetime64[ns]
 5   Date of Eviction              18123 non-null  datetime64[ns]
 6   Address                       18123 non-null  object
 7   City                          18123 non-null  object
 8   State                         18123 non-null  object
 9   ZIP Code                      18123 non-null  int64
 10  Plaintiff Name                18122 non-null  object
 11  Defendant Name                18123 non-null  object
 12  file_year                     14768 non-null  float64
 13  file_month_year               14768 non-null  object
 14  enforced_year                 18123 non-null  int64
 15  enforced_month_year           18123 non-null  object
 16  received_year                 18123 non-null  int64
 17  received_month_year           18123 non-null  object
 18  entered_year                  18082 non-null  float64
 19  entered_month_year            18082 non-null  object
dtypes: datetime64[ns](4), float64(2), int64(3), object(11)
memory usage: 2.8+ MB

In [74]:
# how many total evictions were enforced by the sheriff's office each year?
by_year = df.groupby('enforced_year').size().reset_index(name = 'enforced_count')
by_year

   enforced_year  enforced_count
0           2019            7134
1           2020            1630
2           2021            2010
3           2022            4845
4           2023            2504

In [75]:
# enforced eviction by month
# copy this into Flourish!
by_month = df.groupby('enforced_month_year').size().reset_index(name = 'enforced_month')
by_month

   enforced_month_year  enforced_month
0              01/2019             401
1              01/2020             696
2              01/2021              48
3              01/2022             244
4              01/2023             560
5              02/2019             458
6              02/2020             513
7              02/2021              30
8              02/2022             342
9              02/2023             688
10             03/2019             605
11             03/2020             245
12             03/2021              82
13             03/2022             469
14             03/2023             609
15             04/2019             776
16             04/2021              83
17             04/2022             389
18             04/2023             647
19             05/2019             735
20             05/2021              65
21             05/2022             345
22             06/2019             686
23             06/2020               2
24             06/2021             119
25             06/2022             419
26             07/2019             542
27             07/2020               4
28             07/2021             278
29             07/2022             381
30             08/2019             544
31             08/2020               6
32             08/2021             316
33             08/2022             504
34             09/2019             556
35             09/2020              26
36             09/2021             209
37             09/2022             442
38             10/2019             700
39             10/2020              39
40             10/2021             290
41             10/2022             493
42             11/2019             619
43             11/2020              45
44             11/2021             249
45             11/2022             452
46             12/2019             512
47             12/2020              54
48             12/2021             241
49             12/2022             365

In [77]:
# receieved eviction by month
by_month = df.groupby('received_month_year').size().reset_index(name = 'received_month')
by_month

   received_month_year  received_month
0              01/2018               2
1              01/2019             554
2              01/2020             450
3              01/2021              62
4              01/2022             354
..                 ...             ...
58             12/2018             567
59             12/2019             560
60             12/2020              71
61             12/2021             281
62             12/2022             565

[63 rows x 2 columns]

In [78]:
# export
by_month.to_csv('processed/received_evictions_month.csv')

In [81]:
# filed eviction by month
by_month = df.groupby('file_month_year').size().reset_index(name = 'filed_month')
by_month

   file_month_year  filed_month
0          01/2017            1
1          01/2018            1
2          01/2019          520
3          01/2020          208
4          01/2021          103
..             ...          ...
66         12/2018          384
67         12/2019          210
68         12/2020           65
69         12/2021          381
70         12/2022           83

[71 rows x 2 columns]

In [82]:
# export
by_month.to_csv('processed/filed_evictions_month.csv')

### How many evictions were enforced during the moratorium?

In [83]:
mask = (df['Date of Eviction'] > '2020-03-01') & (df['Date of Eviction'] <= '2021-10-03')
moratorium = df.loc[mask].copy()
len(moratorium)

1659

In [86]:
moratorium.groupby('enforced_month_year').size().reset_index()

   enforced_month_year    0
0              01/2021   48
1              02/2021   30
2              03/2020  245
3              03/2021   82
4              04/2021   83
5              05/2021   65
6              06/2020    2
7              06/2021  119
8              07/2020    4
9              07/2021  278
10             08/2020    6
11             08/2021  316
12             09/2020   26
13             09/2021  209
14             10/2020   39
15             10/2021    8
16             11/2020   45
17             12/2020   54

In [88]:
moratorium.groupby('received_month_year').size().reset_index().sort_values('received_month_year')

   received_month_year    0
0              01/2020  191
1              01/2021   62
2              02/2020  140
3              02/2021   61
4              03/2020   89
5              03/2021   71
6              04/2021   59
7              05/2019    1
8              05/2021   60
9              06/2020    1
10             06/2021   77
11             07/2019    1
12             07/2021  253
13             08/2019    1
14             08/2020   10
15             08/2021  220
16             09/2019    6
17             09/2020   31
18             09/2021  113
19             10/2019    5
20             10/2020   35
21             11/2019    5
22             11/2020   48
23             12/2019   48
24             12/2020   71

### Has the time between when an order is entered to when the eviction was enforced changed after the moratorium ended? Not really. 
### Has the time elapsed between eviction filing and eviction completed changed after the moratorium?

In [104]:
# create days elapsed columns
df['entered_enforced_elapsed'] = df['Date of Eviction'] - df['Corrected Order Entered Date']
df_pre['entered_enforced_elapsed'] = df_pre['Date of Eviction'] - df_pre['Corrected Order Entered Date']
df_post['entered_enforced_elapsed'] = df_post['Date of Eviction'] - df_post['Corrected Order Entered Date']

# file to enforced
df['file_enforced_elapsed'] = df['Date of Eviction'] - df['File Date']
df_pre['file_enforced_elapsed'] = df_pre['Date of Eviction'] - df_pre['File Date']
df_post['file_enforced_elapsed'] = df_post['Date of Eviction'] - df_post['File Date']

# file to order
df['file_ordered_elapsed'] = df['Corrected Order Entered Date'] - df['File Date']
df_pre['file_ordered_elapsed'] = df_pre['Corrected Order Entered Date'] - df_pre['File Date']
df_post['file_ordered_elapsed'] = df_post['Corrected Order Entered Date'] - df_post['File Date']

# order to received
df['ordered_received_elapsed'] = df['Received Date'] - df['Corrected Order Entered Date']
df_pre['ordered_received_elapsed'] = df_pre['Received Date'] - df_pre['Corrected Order Entered Date']
df_post['ordered_received_elapsed'] = df_post['Received Date'] - df_post['Corrected Order Entered Date']

In [98]:
# inspect
df.tail()

,Case Number,File Date,Order Entered Date,Corrected Order Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,...,file_month_year,enforced_year,enforced_month_year,received_year,received_month_year,entered_year,entered_month_year,entered_enforced_elapsed,file_enforced_elapsed,file_ordered_elapsed
18118,20211704498,2021-10-12,NaN,NaT,2022-02-16,2022-03-15,1415 N KARLOV AVE 2S,CHICAGO,IL,60651,...,10/2021,2022,03/2022,2022,02/2022,NaN,NaN,NaT,154 days,NaT
18119,20211703346,2021-08-25,NaN,NaT,2022-06-16,2022-08-01,2213 E 68TH ST 3E,CHICAGO,IL,60649,...,08/2021,2022,08/2022,2022,06/2022,NaN,NaN,NaT,341 days,NaT
18120,2021M1701692,2021-05-07,NaN,NaT,2022-02-16,2022-03-16,7232 S ST LAWRENCE AVE 1 FIRST FLOOR,CHICAGO,IL,60619,...,05/2021,2022,03/2022,2022,02/2022,NaN,NaN,NaT,313 days,NaT
18121,20201706610,2020-12-10,NaN,NaT,2022-03-03,2022-04-05,4108 S DREXEL BLVD UNIT 3B,CHICAGO,IL,60653,...,12/2020,2022,04/2022,2022,03/2022,NaN,NaN,NaT,481 days,NaT
18122,20191720645,2019-12-31,NaN,NaT,2022-11-18,2023-02-08,4028 W 58TH ST NA,CHICAGO,IL,60629,...,12/2019,2023,02/2023,2022,11/2022,NaN,NaN,NaT,1135 days,NaT

In [101]:
df_pre['entered_enforced_elapsed'].describe()

count                           8342
mean      91 days 04:41:32.639654759
std      115 days 04:32:47.993479098
min              -255 days +00:00:00
25%                 53 days 00:00:00
50%                 69 days 00:00:00
75%                 96 days 00:00:00
max               4011 days 00:00:00
Name: entered_enforced_elapsed, dtype: object

In [102]:
# the sheriff isn't necessarily taking longer to enforce evictions
df_post['entered_enforced_elapsed'].describe()

count                           8081
mean     107 days 06:45:13.030565524
std      156 days 20:18:37.543865074
min              -330 days +00:00:00
25%                 49 days 00:00:00
50%                 65 days 00:00:00
75%                 97 days 00:00:00
max               2341 days 00:00:00
Name: entered_enforced_elapsed, dtype: object

In [95]:
df_pre['file_enforced_elapsed'].describe()

count                           6769
mean     131 days 19:46:25.226769094
std       65 days 14:06:58.788301841
min              -726 days +00:00:00
25%                 94 days 00:00:00
50%                117 days 00:00:00
75%                151 days 00:00:00
max               1548 days 00:00:00
Name: file_enforced_elapsed, dtype: object

In [96]:
# nearly doubled for file to enforced
df_post['file_enforced_elapsed'].describe()

count                           6638
mean     241 days 07:29:55.119011752
std      212 days 09:37:24.361144552
min              -377 days +00:00:00
25%                146 days 00:00:00
50%                188 days 00:00:00
75%                245 days 18:00:00
max               8196 days 00:00:00
Name: file_enforced_elapsed, dtype: object

In [99]:
df_pre['file_ordered_elapsed'].describe()

count                          6769
mean     55 days 09:45:39.488846211
std      51 days 17:32:28.672613148
min             -813 days +00:00:00
25%                28 days 00:00:00
50%                43 days 00:00:00
75%                68 days 00:00:00
max              1152 days 00:00:00
Name: file_ordered_elapsed, dtype: object

In [100]:
# but from when a case is filed by a landlord to when an eviction is ordered by a judge has on average tripled
df_post['file_ordered_elapsed'].describe()

count                           6598
mean     143 days 05:11:00.200060624
std      172 days 13:14:11.280903250
min             -1006 days +00:00:00
25%                 81 days 00:00:00
50%                112 days 00:00:00
75%                154 days 00:00:00
max               8127 days 00:00:00
Name: file_ordered_elapsed, dtype: object

In [105]:
df_pre['ordered_received_elapsed'].describe()

count                           8342
mean      36 days 08:06:05.955406377
std      109 days 05:52:09.547490696
min              -347 days +00:00:00
25%                  8 days 00:00:00
50%                 14 days 00:00:00
75%                 34 days 00:00:00
max               3917 days 00:00:00
Name: ordered_received_elapsed, dtype: object

In [106]:
# also nearly doubled
df_post['ordered_received_elapsed'].describe()

count                           8081
mean      59 days 20:34:00.341541888
std      133 days 18:17:47.404128968
min              -356 days +00:00:00
25%                 14 days 00:00:00
50%                 24 days 00:00:00
75%                 49 days 00:00:00
max               2332 days 00:00:00
Name: ordered_received_elapsed, dtype: object

### Are high eviction zip codes before and after the pandemic different? Only 53 zips where there were more evictions in 2022 than 2019.

In [177]:
# number of evictions enforced by year
df.groupby('enforced_year').size()

enforced_year
2019    7134
2020    1630
2021    2010
2022    4845
2023    2504
dtype: int64

In [178]:
# zip codes by year for evictions enforced
dfz_year = pd.pivot_table(df, values='Case Number', index='ZIP Code', columns='enforced_year', aggfunc='count').reset_index()
dfz_year_pre = pd.pivot_table(df_pre, values='Case Number', index='ZIP Code', columns='enforced_year', aggfunc='count').reset_index()
dfz_year_post = pd.pivot_table(df_post, values='Case Number', index='ZIP Code', columns='enforced_year', aggfunc='count').reset_index()

In [179]:
dfz_year.head()

enforced_year  ZIP Code  2019  2020  2021  2022  2023
0                 60004  12.0   7.0   2.0  16.0   4.0
1                 60005  11.0   4.0   7.0  21.0   7.0
2                 60007  11.0   2.0   7.0  15.0   5.0
3                 60008  17.0   3.0   8.0   9.0   7.0
4                 60010   4.0   2.0   NaN   3.0   4.0

In [180]:
dfz_year_pre.head()

enforced_year  ZIP Code  2019  2020
0                 60004  12.0   3.0
1                 60005  11.0   2.0
2                 60007  11.0   1.0
3                 60008  17.0   3.0
4                 60010   4.0   1.0

In [181]:
dfz_year_post.head()

enforced_year  ZIP Code  2021  2022  2023
0                 60004   NaN  16.0   4.0
1                 60005   1.0  21.0   7.0
2                 60007   6.0  15.0   5.0
3                 60008   4.0   9.0   7.0
4                 60010   NaN   3.0   4.0

In [182]:
dfz_year['19_22_change'] = dfz_year[2022] - dfz_year[2019]
dfz_year['pct_change'] = dfz_year['19_22_change']/dfz_year[2019]

In [183]:
dfz_year.sort_values('19_22_change', ascending=False).head(10)

enforced_year,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change
47,60173,14.0,4.0,8.0,32.0,4.0,18.0,1.285714
6,60016,31.0,7.0,11.0,49.0,26.0,18.0,0.580645
126,60613,30.0,13.0,17.0,43.0,13.0,13.0,0.433333
151,60640,77.0,26.0,35.0,89.0,38.0,12.0,0.155844
146,60634,27.0,5.0,9.0,37.0,16.0,10.0,0.370370
1,60005,11.0,4.0,7.0,21.0,7.0,10.0,0.909091
116,60603,1.0,NaN,2.0,8.0,3.0,7.0,7.000000
15,60067,14.0,5.0,9.0,21.0,12.0,7.0,0.500000
29,60120,17.0,2.0,7.0,23.0,2.0,6.0,0.352941
123,60610,31.0,10.0,38.0,37.0,16.0,6.0,0.193548

In [184]:
dfz_year['19_22_change'].describe()

count    162.000000
mean     -14.061728
std       31.556455
min     -244.000000
25%      -13.000000
50%       -4.500000
75%        0.000000
max       18.000000
Name: 19_22_change, dtype: float64

In [185]:
dfz_year[2019].describe()

count    170.000000
mean      41.964706
std       67.828961
min        1.000000
25%        8.000000
50%       18.000000
75%       40.750000
max      506.000000
Name: 2019, dtype: float64

### It looks like the geographic change is in the suburbs, there appear to be more evictions there after the moratorium?

In [186]:
# on average, zip codes saw 7 fewer evictions in 2022 than 2019
dfz_year['19_22_change'].describe()

count    162.000000
mean     -14.061728
std       31.556455
min     -244.000000
25%      -13.000000
50%       -4.500000
75%        0.000000
max       18.000000
Name: 19_22_change, dtype: float64

In [187]:
# percent changes
dfz_year['pct_change'].describe()

count    162.000000
mean      -0.115962
std        0.742204
min       -0.909091
25%       -0.452020
50%       -0.271957
75%        0.000000
max        7.000000
Name: pct_change, dtype: float64

In [188]:
# with zip codes with at least 15 evictions in 2019, some NW surburban zip codes saw a lot more evictions
dfz_year[dfz_year[2019] > 15].sort_values('pct_change', ascending=False).head(10)

enforced_year,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change
6,60016,31.0,7.0,11.0,49.0,26.0,18.0,0.580645
126,60613,30.0,13.0,17.0,43.0,13.0,13.0,0.433333
146,60634,27.0,5.0,9.0,37.0,16.0,10.0,0.370370
29,60120,17.0,2.0,7.0,23.0,2.0,6.0,0.352941
58,60302,21.0,5.0,6.0,26.0,11.0,5.0,0.238095
123,60610,31.0,10.0,38.0,37.0,16.0,6.0,0.193548
135,60622,21.0,10.0,10.0,25.0,16.0,4.0,0.190476
120,60607,22.0,5.0,17.0,26.0,12.0,4.0,0.181818
55,60202,18.0,5.0,4.0,21.0,10.0,3.0,0.166667
151,60640,77.0,26.0,35.0,89.0,38.0,12.0,0.155844

In [189]:
# for zip codes with at least 15 evictions in 2019, some zip codes saw a 60% drop in evics
dfz_year[dfz_year[2019] > 15].sort_values('pct_change', ascending=True).head(10)

enforced_year,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change
41,60164,19.0,3.0,5.0,5.0,2.0,-14.0,-0.736842
59,60304,17.0,1.0,NaN,5.0,3.0,-12.0,-0.705882
78,60452,27.0,7.0,15.0,8.0,8.0,-19.0,-0.703704
76,60443,54.0,9.0,8.0,17.0,7.0,-37.0,-0.685185
30,60130,24.0,3.0,4.0,9.0,11.0,-15.0,-0.625000
80,60455,26.0,6.0,9.0,10.0,1.0,-16.0,-0.615385
93,60471,40.0,7.0,9.0,17.0,12.0,-23.0,-0.575000
34,60153,51.0,13.0,14.0,22.0,26.0,-29.0,-0.568627
162,60653,145.0,27.0,33.0,63.0,52.0,-82.0,-0.565517
43,60169,23.0,1.0,10.0,10.0,10.0,-13.0,-0.565217

In [191]:
# zip codes that had fewer evics was south shore, but that's because there were so many to begin with
dfz_year.sort_values('19_22_change',ascending=True).head()

enforced_year,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change
159,60649,506.0,129.0,98.0,262.0,143.0,-244.0,-0.482213
155,60644,267.0,60.0,52.0,126.0,94.0,-141.0,-0.528090
133,60620,317.0,51.0,60.0,179.0,80.0,-138.0,-0.435331
148,60637,252.0,57.0,63.0,131.0,99.0,-121.0,-0.480159
132,60619,339.0,93.0,80.0,226.0,134.0,-113.0,-0.333333

In [192]:
# zip codes where there were more evictions in 2022 than in 2019
len(dfz_year[dfz_year['19_22_change'] > 0])

36

In [193]:
dfz_year[dfz_year['19_22_change'] > 0].sort_values('19_22_change', ascending=False)

enforced_year,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change
47,60173,14.0,4.0,8.0,32.0,4.0,18.0,1.285714
6,60016,31.0,7.0,11.0,49.0,26.0,18.0,0.580645
126,60613,30.0,13.0,17.0,43.0,13.0,13.0,0.433333
151,60640,77.0,26.0,35.0,89.0,38.0,12.0,0.155844
146,60634,27.0,5.0,9.0,37.0,16.0,10.0,0.370370
1,60005,11.0,4.0,7.0,21.0,7.0,10.0,0.909091
116,60603,1.0,NaN,2.0,8.0,3.0,7.0,7.000000
15,60067,14.0,5.0,9.0,21.0,12.0,7.0,0.500000
123,60610,31.0,10.0,38.0,37.0,16.0,6.0,0.193548
29,60120,17.0,2.0,7.0,23.0,2.0,6.0,0.352941
58,60302,21.0,5.0,6.0,26.0,11.0,5.0,0.238095
164,60655,11.0,2.0,1.0,16.0,2.0,5.0,0.454545
119,60606,2.0,2.0,5.0,7.0,5.0,5.0,2.500000
77,60445,29.0,8.0,13.0,33.0,16.0,4.0,0.137931
74,60438,35.0,18.0,10.0,39.0,27.0,4.0,0.114286
0,60004,12.0,7.0,2.0,16.0,4.0,4.0,0.333333
57,60301,3.0,1.0,1.0,7.0,5.0,4.0,1.333333
135,60622,21.0,10.0,10.0,25.0,16.0,4.0,0.190476
144,60632,37.0,11.0,26.0,41.0,11.0,4.0,0.108108
25,60103,3.0,NaN,3.0,7.0,4.0,4.0,1.333333
17,60070,4.0,1.0,3.0,8.0,1.0,4.0,1.000000
153,60642,13.0,3.0,7.0,17.0,6.0,4.0,0.307692
2,60007,11.0,2.0,7.0,15.0,5.0,4.0,0.363636
120,60607,22.0,5.0,17.0,26.0,12.0,4.0,0.181818
75,60439,3.0,NaN,1.0,6.0,1.0,3.0,1.000000
55,60202,18.0,5.0,4.0,21.0,10.0,3.0,0.166667
115,60602,3.0,NaN,5.0,5.0,2.0,2.0,0.666667
105,60513,2.0,1.0,2.0,4.0,4.0,2.0,1.000000
145,60633,20.0,3.0,4.0,22.0,19.0,2.0,0.100000
169,60661,10.0,2.0,9.0,12.0,8.0,2.0,0.200000
117,60604,1.0,1.0,NaN,2.0,1.0,1.0,1.000000
50,60193,13.0,5.0,1.0,14.0,8.0,1.0,0.076923
38,60161,1.0,NaN,NaN,2.0,NaN,1.0,1.000000
23,60091,4.0,3.0,1.0,5.0,NaN,1.0,0.250000
14,60062,10.0,1.0,4.0,11.0,6.0,1.0,0.100000
10,60026,3.0,1.0,1.0,4.0,NaN,1.0,0.333333

In [194]:
dfz_year['ZIP Code'] = dfz_year['ZIP Code'].astype(int)

In [195]:
# conduct an anti-join to see how many zip codes are not matched
unmatched = (dfz_year.merge(renters, left_on='ZIP Code', right_on='zip', how='outer', indicator=True)
     .query('_merge != "both"')
     .drop('_merge', 1))

/tmp/ipykernel_27688/410830071.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  .drop('_merge', 1))

In [196]:
# only 15 evictions received were associated with zips not matched in the census renters data or evictions data
len(unmatched)

15

In [197]:
# merge renters and dfz_year
evictions = dfz_year.merge(renters, left_on='ZIP Code', right_on='zip', how='inner')

In [198]:
# merge renters and dfz_year for pre and post
evictions_pre = dfz_year_pre.merge(renters, left_on='ZIP Code', right_on='zip', how='inner')
evictions_post = dfz_year_post.merge(renters, left_on='ZIP Code', right_on='zip', how='inner')

In [199]:
del evictions['geoid']

In [200]:
del evictions['zip']

In [201]:
del evictions_pre['geoid']
del evictions_pre['zip']

del evictions_post['geoid']
del evictions_post['zip']

In [202]:
# calculate evictions enforced per 1000 renter occupied units by year
evictions['evic_per_1000_units_2023'] = (evictions[2023]/evictions['renter_occupied'])*1000
evictions['evic_per_1000_units_2022'] = (evictions[2022]/evictions['renter_occupied'])*1000
evictions['evic_per_1000_units_2021'] = (evictions[2021]/evictions['renter_occupied'])*1000
evictions['evic_per_1000_units_2020'] = (evictions[2020]/evictions['renter_occupied'])*1000
evictions['evic_per_1000_units_2019'] = (evictions[2019]/evictions['renter_occupied'])*1000

In [203]:
# calculate evictions enforced per 1000 renter occupied units by year for pre and post
evictions_post['evic_per_1000_units_2023'] = (evictions_post[2023]/evictions_post['renter_occupied'])*1000
evictions_post['evic_per_1000_units_2022'] = (evictions_post[2022]/evictions_post['renter_occupied'])*1000
evictions_post['evic_per_1000_units_2021'] = (evictions_post[2021]/evictions_post['renter_occupied'])*1000

evictions_pre['evic_per_1000_units_2020'] = (evictions_pre[2020]/evictions_pre['renter_occupied'])*1000
evictions_pre['evic_per_1000_units_2019'] = (evictions_pre[2019]/evictions_pre['renter_occupied'])*1000

In [204]:
# convert NaNs to 0s
evictions_pre = evictions_pre.fillna(0)
evictions_post = evictions_post.fillna(0)

In [205]:
# calculate pre and post evictions for all the years
evictions_post['all_years_post'] = evictions_post[2023] + evictions_post[2022] + evictions_post[2021]
evictions_pre['all_years_pre'] = evictions_pre[2020] + evictions_pre[2019]

evictions_post['evic_per_1000_units_all_years_post'] = (evictions_post['all_years_post']/evictions_post['renter_occupied'])*1000
evictions_pre['evic_per_1000_units_all_years_pre'] = (evictions_pre['all_years_pre']/evictions_pre['renter_occupied'])*1000

In [206]:
evictions['rate_change'] = evictions['evic_per_1000_units_2022'] - evictions['evic_per_1000_units_2019']
evictions['pct_rate_change'] = evictions['rate_change']/evictions['evic_per_1000_units_2019']

In [207]:
evictions.head()

,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change,total,total_moe,...,owner_occupied_moe,renter_occupied,renter_occupied_moe,evic_per_1000_units_2023,evic_per_1000_units_2022,evic_per_1000_units_2021,evic_per_1000_units_2020,evic_per_1000_units_2019,rate_change,pct_rate_change
0,60004,12.0,7.0,2.0,16.0,4.0,4.0,0.333333,20494,489,...,617,4731,401,0.845487,3.381949,0.422744,1.479603,2.536462,0.845487,0.333333
1,60005,11.0,4.0,7.0,21.0,7.0,10.0,0.909091,12405,560,...,450,4499,505,1.555901,4.667704,1.555901,0.889086,2.444988,2.222716,0.909091
2,60007,11.0,2.0,7.0,15.0,5.0,4.0,0.363636,12745,507,...,490,3192,376,1.566416,4.699248,2.192982,0.626566,3.446115,1.253133,0.363636
3,60008,17.0,3.0,8.0,9.0,7.0,-8.0,-0.470588,8731,363,...,341,2514,309,2.784407,3.579952,3.182180,1.193317,6.762132,-3.182180,-0.470588
4,60010,4.0,2.0,NaN,3.0,4.0,-1.0,-0.250000,16999,575,...,520,2093,462,1.911132,1.433349,NaN,0.955566,1.911132,-0.477783,-0.250000

In [208]:
# export as csv
evictions.to_csv('processed/completed_evictions_updated.csv')

In [209]:
# export pre and post as csv
evictions_pre.to_csv('processed/completed_evictions_pre_moratorium_updated.csv')
evictions_post.to_csv('processed/completed_evictions_post_moratorium_updated.csv')

In [210]:
# export only increasing zip codes
evictions_increased = dfz_year[dfz_year['19_22_change'] > 0].sort_values('19_22_change', ascending=False).copy()

In [211]:
evictions_increased.to_csv('processed/completed_evictions_increased_updated.csv')

In [220]:
# merge pre and post
evictions_pre_post = evictions_pre.merge(evictions_post, on='ZIP Code', how='outer')

In [221]:
comparison_df = evictions_pre_post[['ZIP Code','all_years_post', 'evic_per_1000_units_all_years_post', 'all_years_pre', 'evic_per_1000_units_all_years_pre']].copy()
comparison_df = comparison_df.fillna(0)
comparison_df

,ZIP Code,all_years_post,evic_per_1000_units_all_years_post,all_years_pre,evic_per_1000_units_all_years_pre
0,60004,20.0,4.227436,15.0,3.170577
1,60005,29.0,6.445877,13.0,2.889531
2,60007,26.0,8.145363,12.0,3.759398
3,60008,20.0,7.955449,20.0,7.955449
4,60010,7.0,3.344482,5.0,2.388915
...,...,...,...,...,...
165,60804,93.0,8.407160,72.0,6.508769
166,60805,11.0,8.764940,12.0,9.561753
167,60827,93.0,15.776081,147.0,24.936387
168,60521,1.0,1.317523,0.0,0.000000
169,60558,2.0,17.857143,0.0,0.000000

In [214]:
# compare if there are zip codes that increased/decreased in the rate
comparison_df['change'] = comparison_df['all_years_post'] - comparison_df['all_years_pre']
comparison_df['rate_change'] = comparison_df['evic_per_1000_units_all_years_post'] - comparison_df['evic_per_1000_units_all_years_pre']

In [219]:
# Top 50 zip codes that experienced more evictions post moratorium than pre moratorium
comparison_df.sort_values('change',ascending=False).head(50)

,ZIP Code,all_years_post,evic_per_1000_units_all_years_post,all_years_pre,evic_per_1000_units_all_years_pre,change,rate_change
141,60640,140.0,5.740057,91.0,3.731037,49.0,2.009020
6,60016,79.0,10.476064,37.0,4.906511,42.0,5.569553
118,60615,234.0,15.474144,198.0,13.093506,36.0,2.380637
119,60616,155.0,10.256750,123.0,8.139227,32.0,2.117522
59,60411,203.0,32.412582,173.0,27.622545,30.0,4.790037
113,60610,67.0,4.411668,37.0,2.436294,30.0,1.975374
136,60634,57.0,7.835052,30.0,4.123711,27.0,3.711340
71,60445,61.0,47.140649,34.0,26.275116,27.0,20.865533
148,60647,85.0,3.710494,60.0,2.619172,25.0,1.091322
64,60426,84.0,20.343909,60.0,14.531364,24.0,5.812545
116,60613,63.0,3.629241,39.0,2.246673,24.0,1.382568
110,60607,46.0,6.450708,24.0,3.365587,22.0,3.085121
135,60633,43.0,23.369565,22.0,11.956522,21.0,11.413043
165,60804,93.0,8.407160,72.0,6.508769,21.0,1.898391
43,60173,37.0,8.689526,17.0,3.992485,20.0,4.697041
134,60632,65.0,5.611188,45.0,3.884669,20.0,1.726519
14,60067,36.0,9.868421,17.0,4.660088,19.0,5.208333
53,60302,41.0,6.966865,23.0,3.908241,18.0,3.058624
1,60005,29.0,6.445877,13.0,2.889531,16.0,3.556346
68,60438,66.0,19.169329,50.0,14.522219,16.0,4.647110
132,60630,51.0,7.178044,36.0,5.066854,15.0,2.111189
125,60622,44.0,2.956592,29.0,1.948663,15.0,1.007929
143,60642,27.0,4.040102,13.0,1.945234,14.0,2.094868
2,60007,26.0,8.145363,12.0,3.759398,14.0,4.385965
109,60606,14.0,9.265387,2.0,1.323627,12.0,7.941760
159,60661,23.0,5.085120,11.0,2.432014,12.0,2.653106
117,60614,39.0,2.100501,28.0,1.508052,11.0,0.592449
129,60626,119.0,7.063991,108.0,6.411017,11.0,0.652974
27,60120,29.0,5.266025,18.0,3.268567,11.0,1.997458
106,60603,12.0,48.387097,1.0,4.032258,11.0,44.354839
24,60103,13.0,5.777778,3.0,1.333333,10.0,4.444444
13,60062,20.0,7.217611,10.0,3.608805,10.0,3.608805
56,60402,79.0,9.217128,69.0,8.050403,10.0,1.166725
50,60202,32.0,5.135612,23.0,3.691221,9.0,1.444391
156,60657,47.0,1.997365,38.0,1.614891,9.0,0.382474
128,60625,56.0,3.006066,48.0,2.576628,8.0,0.429438
52,60301,12.0,8.059100,4.0,2.686367,8.0,5.372733
114,60611,54.0,4.480956,46.0,3.817111,8.0,0.663845
16,60070,12.0,5.522319,5.0,2.300966,7.0,3.221353
115,60612,87.0,9.391192,80.0,8.635579,7.0,0.755613
57,60406,67.0,15.022422,60.0,13.452915,7.0,1.569507
98,60513,9.0,5.956320,2.0,1.323627,7.0,4.632694
46,60193,23.0,5.439924,16.0,3.784295,7.0,1.655629
121,60618,64.0,3.505697,57.0,3.122261,7.0,0.383436
154,60655,19.0,11.438892,13.0,7.826610,6.0,3.612282
155,60656,24.0,5.065428,18.0,3.799071,6.0,1.266357
104,60601,29.0,4.776021,23.0,3.787879,6.0,0.988142
105,60602,8.0,40.201005,3.0,15.075377,5.0,25.125628
0,60004,20.0,4.227436,15.0,3.170577,5.0,1.056859
35,60160,23.0,6.233062,18.0,4.878049,5.0,1.355014

In [216]:
comparison_df.sort_values('rate_change',ascending=False)

,ZIP Code,all_years_post,evic_per_1000_units_all_years_post,all_years_pre,evic_per_1000_units_all_years_pre,change,rate_change
106,60603,12.0,48.387097,1.0,4.032258,11.0,44.354839
105,60602,8.0,40.201005,3.0,15.075377,5.0,25.125628
71,60445,61.0,47.140649,34.0,26.275116,27.0,20.865533
169,60558,2.0,17.857143,0.0,0.000000,2.0,17.857143
135,60633,43.0,23.369565,22.0,11.956522,21.0,11.413043
...,...,...,...,...,...,...,...
167,60827,93.0,15.776081,147.0,24.936387,-54.0,-9.160305
8,60022,1.0,4.761905,4.0,19.047619,-3.0,-14.285714
70,60443,28.0,14.440433,62.0,31.975245,-34.0,-17.534812
62,60422,5.0,15.151515,11.0,33.333333,-6.0,-18.181818
91,60476,1.0,4.901961,5.0,24.509804,-4.0,-19.607843

In [222]:
# export comparison df
comparison_df.to_csv('processed/comparison_updated.csv')

### How has the share of evictions per zip code changed?

In [147]:
# create a copy
evictions_share = evictions.copy()

In [148]:
evictions_share = evictions.copy()

In [149]:
# calculate evictions shares and rental unit shares for cook county
evictions_share['2019_share'] = evictions_share[2019]/evictions_share[2019].sum()
evictions_share['2019_share_rentals'] = evictions_share['renter_occupied']/evictions_share['renter_occupied'].sum()

evictions_share['2022_share'] = evictions_share[2022]/evictions_share[2022].sum()
evictions_share['2022_share_rentals'] = evictions_share['renter_occupied']/evictions_share['renter_occupied'].sum()

In [150]:
# 60649 makes up about 7% of the evictions in cook county, but only 2% of the rental units
# 60619, the next zip code over, made up 5% of evictions, but 2% of the rental units 
evictions_share.sort_values('2019_share', ascending=False).head(10)

,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change,total,total_moe,...,evic_per_1000_units_2022,evic_per_1000_units_2021,evic_per_1000_units_2020,evic_per_1000_units_2019,rate_change,pct_rate_change,2019_share,2019_share_rentals,2022_share,2022_share_rentals
151,60649,506.0,129.0,98.0,262.0,143.0,-244.0,-0.482213,23349,1025,...,14.754745,5.518950,7.264741,28.495804,-13.741060,-0.482213,0.070968,0.020077,0.054132,0.020077
124,60619,339.0,93.0,80.0,226.0,134.0,-113.0,-0.333333,28030,1109,...,14.416943,5.103343,5.932636,21.625415,-7.208472,-0.333333,0.047546,0.017724,0.046694,0.017724
125,60620,317.0,51.0,60.0,179.0,80.0,-138.0,-0.435331,25825,800,...,13.289777,4.454674,3.786473,23.535526,-10.245749,-0.435331,0.044460,0.015229,0.036983,0.015229
147,60644,267.0,60.0,52.0,126.0,94.0,-141.0,-0.528090,17870,674,...,10.006353,4.129606,4.764930,21.203939,-11.197586,-0.528090,0.037447,0.014237,0.026033,0.014237
140,60637,252.0,57.0,63.0,131.0,99.0,-121.0,-0.480159,21450,895,...,8.130586,3.910129,3.537736,15.640516,-7.509930,-0.480159,0.035344,0.018217,0.027066,0.018217
122,60617,195.0,48.0,50.0,117.0,54.0,-78.0,-0.400000,30141,1133,...,8.899369,3.803149,3.651023,14.832281,-5.932912,-0.400000,0.027349,0.014865,0.024174,0.014865
132,60628,188.0,52.0,35.0,135.0,71.0,-53.0,-0.281915,23198,802,...,13.603386,3.526804,5.239823,18.943974,-5.340588,-0.281915,0.026367,0.011221,0.027893,0.011221
129,60624,182.0,43.0,45.0,92.0,57.0,-90.0,-0.494505,13204,670,...,9.467943,4.631059,4.425234,18.730061,-9.262118,-0.494505,0.025526,0.010987,0.019008,0.010987
133,60629,181.0,46.0,29.0,121.0,53.0,-60.0,-0.331492,33175,1005,...,8.481110,2.032663,3.224224,12.686619,-4.205509,-0.331492,0.025386,0.016131,0.025000,0.016131
120,60615,165.0,45.0,41.0,121.0,97.0,-44.0,-0.266667,21709,793,...,8.001587,2.711282,2.975797,10.911255,-2.909668,-0.266667,0.023142,0.017098,0.025000,0.017098

In [151]:
# the 4th and 5th highest zip codes by share of evictions are roseland and in a far south black suburb
evictions_share.sort_values('2022_share', ascending=False).head()

,ZIP Code,2019,2020,2021,2022,2023,19_22_change,pct_change,total,total_moe,...,evic_per_1000_units_2022,evic_per_1000_units_2021,evic_per_1000_units_2020,evic_per_1000_units_2019,rate_change,pct_rate_change,2019_share,2019_share_rentals,2022_share,2022_share_rentals
151,60649,506.0,129.0,98.0,262.0,143.0,-244.0,-0.482213,23349,1025,...,14.754745,5.518950,7.264741,28.495804,-13.741060,-0.482213,0.070968,0.020077,0.054132,0.020077
124,60619,339.0,93.0,80.0,226.0,134.0,-113.0,-0.333333,28030,1109,...,14.416943,5.103343,5.932636,21.625415,-7.208472,-0.333333,0.047546,0.017724,0.046694,0.017724
125,60620,317.0,51.0,60.0,179.0,80.0,-138.0,-0.435331,25825,800,...,13.289777,4.454674,3.786473,23.535526,-10.245749,-0.435331,0.044460,0.015229,0.036983,0.015229
59,60411,145.0,30.0,35.0,139.0,50.0,-6.0,-0.041379,17999,609,...,22.193837,5.588376,4.790037,23.151844,-0.958007,-0.041379,0.020337,0.007081,0.028719,0.007081
132,60628,188.0,52.0,35.0,135.0,71.0,-53.0,-0.281915,23198,802,...,13.603386,3.526804,5.239823,18.943974,-5.340588,-0.281915,0.026367,0.011221,0.027893,0.011221

### How did evictions by majority race zip code look like by year?

In [152]:
race = pd.read_csv('processed/race_by_zip_2021_5y_ACS.csv')

In [153]:
del race['Unnamed: 0']

In [154]:
race.head()

,Zipcode,Total,Latino,White,Black,Native American,Asian,Pacific Islander,Other,TOM,Pct Latino,Pct White,Pct Black,Pct Native American,Pct Asian,Pct Other,Pct TOM,Majority
0,60004,52344,5180,38917,1457,37,5319,0,47,1387,0.098961,0.743485,0.027835,0.000707,0.101616,0.000898,0.026498,White
1,60005,29622,4987,20588,760,13,2903,0,102,269,0.168355,0.695024,0.025657,0.000439,0.098001,0.003443,0.009081,White
2,60007,33048,3798,23858,776,0,3970,0,32,614,0.114924,0.721920,0.023481,0.000000,0.120128,0.000968,0.018579,White
3,60008,23191,6844,13193,811,0,1611,0,118,614,0.295114,0.568884,0.034970,0.000000,0.069467,0.005088,0.026476,White
4,60010,47130,1558,37295,421,0,6480,119,251,1006,0.033058,0.791322,0.008933,0.000000,0.137492,0.005326,0.021345,White

In [155]:
# merge evictions with race
race_evictions = evictions.merge(race, right_on='Zipcode', left_on='ZIP Code')

In [156]:
len(race_evictions)

170

In [157]:
# group by racial majority
g = race_evictions.groupby('Majority')[[2019,2020,2021,2022,2023,'renter_occupied']].sum()
g['evic_per_1000_units_2019'] = (g[2019]/g['renter_occupied'])*1000
g['evic_per_1000_units_2020'] = (g[2020]/g['renter_occupied'])*1000
g['evic_per_1000_units_2021'] = (g[2021]/g['renter_occupied'])*1000
g['evic_per_1000_units_2022'] = (g[2022]/g['renter_occupied'])*1000
g['evic_per_1000_units_2023'] = (g[2023]/g['renter_occupied'])*1000
g['percent_2023'] = g[2023]/g[2023].sum()
g['percent_2022'] = g[2022]/g[2022].sum()
g['percent_2021'] = g[2021]/g[2021].sum()
g['percent_2020'] = g[2020]/g[2020].sum()
g['percent_2019'] = g[2019]/g[2019].sum()

In [158]:
# evictions in majority black zip codes accounted for a smaller share of overall evictions after 2020 while majority latino and white zip codes gained a slightly greater share
# evictions in majority black zip codes accounted for 56% of all evictions in 2019
# majority white zip codes had the next highest number of evictions, but made up only 18% in 2019
# majority black zip codes in 2022 accounted for nearly 50%
g

,2019,2020,2021,2022,2023,renter_occupied,evic_per_1000_units_2019,evic_per_1000_units_2020,evic_per_1000_units_2021,evic_per_1000_units_2022,evic_per_1000_units_2023,percent_2023,percent_2022,percent_2021,percent_2020,percent_2019
Majority,,,,,,,,,,,,,,,,
Asian,6.0,1.0,2.0,6.0,1.0,1567,3.828973,0.638162,1.276324,3.828973,0.638162,0.000400,0.001240,0.000995,0.000614,0.000842
Black,3990.0,921.0,915.0,2392.0,1318.0,220486,18.096387,4.177136,4.149923,10.848761,5.977704,0.526989,0.494215,0.455224,0.565378,0.559607
Latino,897.0,209.0,250.0,628.0,286.0,122177,7.341807,1.710633,2.046212,5.140084,2.340866,0.114354,0.129752,0.124378,0.128300,0.125806
No Majority,977.0,194.0,329.0,753.0,393.0,196223,4.979029,0.988671,1.676664,3.837471,2.002823,0.157137,0.155579,0.163682,0.119091,0.137027
White,1260.0,304.0,514.0,1061.0,503.0,343983,3.662972,0.883765,1.494260,3.084455,1.462282,0.201120,0.219215,0.255721,0.186618,0.176718

### How did zip codes by majority race look like before and after the pandemic moratorium?

In [159]:
# merge evictions with race
race_evictions_post = evictions_post.merge(race, right_on='Zipcode', left_on='ZIP Code')
race_evictions_pre = evictions_pre.merge(race, right_on='Zipcode', left_on='ZIP Code')

In [160]:
len(race_evictions_post)

168

In [161]:
len(race_evictions_pre)

168

In [163]:
# group by racial majority = post
g = race_evictions_post.groupby('Majority')[[2021,2022,2023,'all_years_post','renter_occupied']].sum()
g['evic_per_1000_units_2021'] = (g[2021]/g['renter_occupied'])*1000
g['evic_per_1000_units_2022'] = (g[2022]/g['renter_occupied'])*1000
g['evic_per_1000_units_2023'] = (g[2023]/g['renter_occupied'])*1000
g['evic_per_1000_units_all_years_post'] = (g['all_years_post']/g['renter_occupied'])*1000
g['percent_2023'] = g[2023]/g[2023].sum()
g['percent_2022'] = g[2022]/g[2022].sum()
g['percent_2021'] = g[2021]/g[2021].sum()
g['percent_all_years_post'] = g['all_years_post']/g['all_years_post'].sum()
g

,2021,2022,2023,all_years_post,renter_occupied,evic_per_1000_units_2021,evic_per_1000_units_2022,evic_per_1000_units_2023,evic_per_1000_units_all_years_post,percent_2023,percent_2022,percent_2021,percent_all_years_post
Majority,,,,,,,,,,,,,
Asian,0.0,6.0,1.0,7.0,1567,0.000000,3.828973,0.638162,4.467135,0.000400,0.001240,0.000000,0.000863
Black,341.0,2392.0,1318.0,4051.0,220486,1.546583,10.848761,5.977704,18.373049,0.526989,0.494215,0.441710,0.499322
Latino,100.0,628.0,286.0,1014.0,122177,0.818485,5.140084,2.340866,8.299434,0.114354,0.129752,0.129534,0.124985
No Majority,121.0,753.0,393.0,1267.0,196223,0.616645,3.837471,2.002823,6.456939,0.157137,0.155579,0.156736,0.156169
White,210.0,1061.0,503.0,1774.0,341118,0.615623,3.110361,1.474563,5.200546,0.201120,0.219215,0.272021,0.218661

In [164]:
# group by racial majority = pre
g = race_evictions_pre.groupby('Majority')[[2019,2020,'all_years_pre','renter_occupied']].sum()
g['evic_per_1000_units_2021'] = (g[2019]/g['renter_occupied'])*1000
g['evic_per_1000_units_2022'] = (g[2020]/g['renter_occupied'])*1000
g['evic_per_1000_units_all_years_pre'] = (g['all_years_pre']/g['renter_occupied'])*1000
g['percent_2019'] = g[2019]/g[2019].sum()
g['percent_2020'] = g[2020]/g[2020].sum()
g['percent_all_years_pre'] = g['all_years_pre']/g['all_years_pre'].sum()
g

,2019,2020,all_years_pre,renter_occupied,evic_per_1000_units_2021,evic_per_1000_units_2022,evic_per_1000_units_all_years_pre,percent_2019,percent_2020,percent_all_years_pre
Majority,,,,,,,,,,
Asian,6.0,0.0,6.0,1567,3.828973,0.000000,3.828973,0.000842,0.000000,0.000720
Black,3990.0,713.0,4703.0,220486,18.096387,3.233765,21.330152,0.559607,0.590232,0.564044
Latino,897.0,164.0,1061.0,122177,7.341807,1.342315,8.684122,0.125806,0.135762,0.127249
No Majority,977.0,152.0,1129.0,196223,4.979029,0.774629,5.753658,0.137027,0.125828,0.135404
White,1260.0,179.0,1439.0,343112,3.672270,0.521696,4.193966,0.176718,0.148179,0.172583

In [165]:
# aggregate by month
dfz_month = pd.pivot_table(df, values='Case Number', index='enforced_month_year', columns='ZIP Code', aggfunc='count').reset_index()

In [166]:
dfz_month = dfz_month.fillna(0)

In [167]:
dfz_month = dfz_month.transpose()

In [168]:
dfz_month.columns = dfz_month.iloc[0]
dfz_month = dfz_month[1:]

In [169]:
dfz_month = dfz_month.reset_index()

In [170]:
dfz_month

enforced_month_year,ZIP Code,01/2019,01/2020,01/2021,01/2022,01/2023,02/2019,02/2020,02/2021,02/2022,...,10/2021,10/2022,11/2019,11/2020,11/2021,11/2022,12/2019,12/2020,12/2021,12/2022
0,60004,1.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,4.0,1.0,1.0,0.0,0.0
1,60005,0.0,1.0,1.0,3.0,2.0,0.0,1.0,0.0,0.0,...,0.0,2.0,1.0,0.0,1.0,1.0,3.0,0.0,0.0,0.0
2,60007,0.0,1.0,0.0,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,4.0,2.0,1.0,0.0,2.0,0.0
3,60008,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0
4,60010,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,60714,0.0,2.0,0.0,1.0,1.0,3.0,0.0,0.0,1.0,...,0.0,1.0,2.0,0.0,0.0,5.0,1.0,1.0,1.0,1.0
175,60803,3.0,6.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,5.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
176,60804,8.0,5.0,0.0,2.0,6.0,1.0,0.0,0.0,3.0,...,4.0,6.0,6.0,0.0,5.0,4.0,5.0,0.0,4.0,6.0
177,60805,2.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
178,60827,13.0,10.0,1.0,1.0,9.0,8.0,16.0,0.0,1.0,...,7.0,6.0,14.0,0.0,3.0,8.0,11.0,0.0,3.0,6.0

In [171]:
# check 12/2022 == 365
dfz_month['12/2022'].sum()

365.0

In [172]:
# match to race data
dfz_month = dfz_month.merge(race, left_on = 'ZIP Code', right_on = 'Zipcode')

In [173]:
dfz_month.columns.to_list()

['ZIP Code',
 '01/2019',
 '01/2020',
 '01/2021',
 '01/2022',
 '01/2023',
 '02/2019',
 '02/2020',
 '02/2021',
 '02/2022',
 '02/2023',
 '03/2019',
 '03/2020',
 '03/2021',
 '03/2022',
 '03/2023',
 '04/2019',
 '04/2021',
 '04/2022',
 '04/2023',
 '05/2019',
 '05/2021',
 '05/2022',
 '06/2019',
 '06/2020',
 '06/2021',
 '06/2022',
 '07/2019',
 '07/2020',
 '07/2021',
 '07/2022',
 '08/2019',
 '08/2020',
 '08/2021',
 '08/2022',
 '09/2019',
 '09/2020',
 '09/2021',
 '09/2022',
 '10/2019',
 '10/2020',
 '10/2021',
 '10/2022',
 '11/2019',
 '11/2020',
 '11/2021',
 '11/2022',
 '12/2019',
 '12/2020',
 '12/2021',
 '12/2022',
 'Zipcode',
 'Total',
 'Latino',
 'White',
 'Black',
 'Native American',
 'Asian',
 'Pacific Islander',
 'Other',
 'TOM',
 'Pct Latino',
 'Pct White',
 'Pct Black',
 'Pct Native American',
 'Pct Asian',
 'Pct Other',
 'Pct TOM',
 'Majority']

In [174]:
g = dfz_month.groupby('Majority')[['01/2019','02/2019','03/2019','04/2019','05/2019','06/2019','07/2019','08/2019','09/2019','10/2019','11/2019','12/2019','01/2020','02/2020','03/2020','06/2020','07/2020','08/2020',
 '09/2020','10/2020','11/2020','12/2020','01/2021','02/2021','03/2021','04/2021','05/2021','06/2021','07/2021','08/2021','09/2021','10/2021','11/2021','12/2021','01/2022','02/2022','03/2022','04/2022','05/2022','06/2022',
                                '07/2022','08/2022','09/2022','10/2022','11/2022','12/2022','01/2023','02/2023','03/2023','04/2023']].sum()

In [175]:
# this is what goes into flourish
g

,01/2019,02/2019,03/2019,04/2019,05/2019,06/2019,07/2019,08/2019,09/2019,10/2019,...,07/2022,08/2022,09/2022,10/2022,11/2022,12/2022,01/2023,02/2023,03/2023,04/2023
Majority,,,,,,,,,,,,,,,,,,,,,
Asian,0.0,0.0,0.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Black,236.0,250.0,327.0,471.0,373.0,300.0,323.0,343.0,327.0,347.0,...,162.0,277.0,203.0,232.0,205.0,223.0,247.0,424.0,339.0,308.0
Latino,60.0,47.0,79.0,71.0,125.0,99.0,60.0,73.0,68.0,95.0,...,56.0,57.0,54.0,65.0,68.0,35.0,70.0,61.0,72.0,83.0
No Majority,42.0,73.0,86.0,105.0,97.0,123.0,70.0,65.0,78.0,121.0,...,74.0,78.0,68.0,80.0,79.0,50.0,108.0,86.0,87.0,112.0
White,63.0,88.0,112.0,126.0,139.0,164.0,87.0,63.0,83.0,137.0,...,89.0,89.0,117.0,115.0,100.0,56.0,134.0,116.0,111.0,143.0

In [176]:
# export the grouped data
g.to_csv('processed/completed_evictions_month_majority_race_updated.csv')

### Plaintiffs before and after moratorium look different

In [310]:
# overall 
# east lake and pangea have multiple names, east lake has closer to 109, habitat compnay has 117, wpd has 134, tlc has 93, deutsche has 110, icarus has 99, firstkey has 103, ehresman has 84
df.groupby('Plaintiff Name').size().reset_index(name = 'count').sort_values('count', ascending=False).head(40)

                             Plaintiff Name  count
6517                    PANGEA VENTURES LLC    584
9366                     WPD MANAGEMENT LLC    116
8402                THE HABITAT COMPANY LLC    101
2654   DEUTSCHE BANK NATIONAL TRUST COMPANY     90
4242                ICARUS INVESTMENT GROUP     86
3241                     FIRSTKEY HOMES LLC     83
3172  FEDERAL NATIONAL MORTGAGE ASSOCIATION     82
2935                    EHRESMAN MANAGEMENT     80
2889         EAST LAKE MANAGEMENT GROUP INC     79
8526                      TLC MANAGEMENT CO     78
4645           KASS MANAGEMENT SERVICES INC     75
2095              CHICAGO HOUSING AUTHORITY     72
1828             CAGAN MANAGEMENT GROUP INC     65
5392            MAC PROPERTY MANAGEMENT LLC     60
4138       HOUSING AUTHORITY OF COOK COUNTY     58
8764           US BANK NATIONAL ASSOCIATION     55
6518                   PANGEA VENTURES, LLC     49
814                           ALPINE RE LLC     46
8762                             US BANK NA     45
8769                       US BANK TRUST NA     43
6983                  PRO INVEST REALTY LLC     42
9118                    WELLS FARGO BANK NA     42
2865                     DYNASTY PROPERTIES     42
6108                NATIONSTAR MORTGAGE LLC     41
8349            THE BANK OF NEW YORK MELLON     41
9170                  WHEELER FINANCIAL INC     40
1060   ATLAS ASSET MANAGEMENT SERVICES CORP     39
1675  BROOKFIELD PROPERTIES MULTIFAMILY LLC     37
8114                       STERLING ESTATES     37
7217          RELATED MANAGEMENT COMPANY LP     35
4323                       INVITATION HOMES     35
2803                  DRAPER AND KRAMER INC     32
5889          MLC PROPERTIES AND MANAGEMENT     31
8316            TENINGA BERGSTROM REALTY CO     31
6675                    PEAK PROPERTIES LLC     30
1334           BECOVIC MANAGEMENT GROUP INC     29
5769         MERCY HOUSING MANAGEMENT GROUP     27
6530                        PARADISE RE LLC     25
7158                 REALTY AND MORTGAGE CO     25
6570     PARK MANAGEMENT AND INVESTMENT LTD     24

In [207]:
df_pre['Plaintiff Name'] = df_pre['Plaintiff Name'].fillna('')

In [311]:
# top 20 evictors before moratorium
df_pre.groupby('Plaintiff Name').size().reset_index(name = 'pre_moratorium_count').sort_values('pre_moratorium_count', ascending=False).head(20)

                             Plaintiff Name  pre_moratorium_count
2838                    PANGEA VENTURES LLC                   361
4072                     WPD MANAGEMENT LLC                   102
1837                ICARUS INVESTMENT GROUP                    83
1232         EAST LAKE MANAGEMENT GROUP INC                    54
912               CHICAGO HOUSING AUTHORITY                    53
1372  FEDERAL NATIONAL MORTGAGE ASSOCIATION                    51
1136   DEUTSCHE BANK NATIONAL TRUST COMPANY                    51
2345            MAC PROPERTY MANAGEMENT LLC                    42
3822                             US BANK NA                    39
1409                     FIRSTKEY HOMES LLC                    39
3675                THE HABITAT COMPANY LLC                    39
3824           US BANK NATIONAL ASSOCIATION                    32
3962                    WELLS FARGO BANK NA                    32
2655                NATIONSTAR MORTGAGE LLC                    29
3726                      TLC MANAGEMENT CO                    25
719   BROOKFIELD PROPERTIES MULTIFAMILY LLC                    25
3659            THE BANK OF NEW YORK MELLON                    24
2022           KASS MANAGEMENT SERVICES INC                    24
1218                     DYNASTY PROPERTIES                    24
1877                       INVITATION HOMES                    24

In [312]:
# top 20 evictors after moratorium
df_post.groupby('Plaintiff Name').size().reset_index(name = 'post_moratorium_count').sort_values('post_moratorium_count', ascending=False).head(20)

                             Plaintiff Name  post_moratorium_count
3428                    PANGEA VENTURES LLC                    175
1565                    EHRESMAN MANAGEMENT                     52
4445                THE HABITAT COMPANY LLC                     52
3429                   PANGEA VENTURES, LLC                     45
4516                      TLC MANAGEMENT CO                     41
551    ATLAS ASSET MANAGEMENT SERVICES CORP                     39
947              CAGAN MANAGEMENT GROUP INC                     36
1720                     FIRSTKEY HOMES LLC                     36
1409   DEUTSCHE BANK NATIONAL TRUST COMPANY                     34
2195       HOUSING AUTHORITY OF COOK COUNTY                     32
2447           KASS MANAGEMENT SERVICES INC                     31
1681  FEDERAL NATIONAL MORTGAGE ASSOCIATION                     30
424                           ALPINE RE LLC                     28
4887                  WHEELER FINANCIAL INC                     27
4653           US BANK NATIONAL ASSOCIATION                     23
569              AVENUE ONE MANAGEMENT CORP                     22
3799          RELATED MANAGEMENT COMPANY LP                     21
4658                       US BANK TRUST NA                     20
4663                      US BANK TRUST, NA                     20
3631               PRAIRIE SHORES OWNER LLC                     19

In [197]:
# WPD Management only evicted 3 households post moratorium
df_post.loc[df_post['Plaintiff Name'].str.contains('WPD', case=False)]

,Case Number,Order Entered Date,Corrected Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,...,enforced_year,enforced_month,enforced_month_year,received_year,received_month,received_month_year,entered_year,entered_month,entered_month_year,entered_enforced_elapsed
9820,20201700320,2020-02-19 00:00:00,2020-02-19,2021-12-28,2022-01-24,7945 S LANGLEY AVE 1E,CHICAGO,IL,60637,WPD MANAGEMENT LLC,...,2022,1,01/2022,2021,12,12/2021,2020.0,2.0,02/2020,705 days
10488,20201703974,2022-01-11 00:00:00,2022-01-11,2022-02-17,2022-03-16,8019 S CHAMPLAIN AVE 1E,CHICAGO,IL,60637,WPD MANAGEMENT LLC,...,2022,3,03/2022,2022,2,02/2022,2022.0,1.0,01/2022,64 days
16964,20226006071,2023-02-23 00:00:00,2023-02-23,2023-03-22,2023-04-27,336 NA BLACKHAWK DR NA,PARK FOREST,IL,60466,WPDRE LLC,...,2023,4,04/2023,2023,3,03/2023,2023.0,2.0,02/2023,63 days

In [198]:
# Icarus didn't evict anyone
df_post.loc[df_post['Plaintiff Name'].str.contains('Icarus', case=False)]

Empty DataFrame
Columns: [Case Number, Order Entered Date, Corrected Entered Date, Received Date, Date of Eviction, Address, City, State, ZIP Code, Plaintiff Name, Defendant Name, enforced_year, enforced_month, enforced_month_year, received_year, received_month, received_month_year, entered_year, entered_month, entered_month_year, entered_enforced_elapsed]
Index: []

[0 rows x 21 columns]

In [201]:
# east lake 18
df_post.loc[df_post['Plaintiff Name'].str.contains('East Lake', case=False)]

,Case Number,Order Entered Date,Corrected Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,...,enforced_year,enforced_month,enforced_month_year,received_year,received_month,received_month_year,entered_year,entered_month,entered_month_year,entered_enforced_elapsed
9445,20201700537,2021-04-12 00:00:00,2021-04-12,2021-07-22,2021-12-01,6900 S CRANDON UNIT 707,CHICAGO,IL,60649,EAST LAKE MANAGEMENT GROUP INC,...,2021,12,12/2021,2021,7,07/2021,2021.0,4.0,04/2021,233 days
9676,20201700307,2021-01-28 00:00:00,2021-01-28,2021-09-16,2022-01-04,550 W 85TH ST 1,CHICAGO,IL,60620,EAST LAKE MANAGENT GROUP INC,...,2022,1,01/2022,2021,9,09/2021,2021.0,1.0,01/2021,341 days
9720,20201703215,2020-03-12 00:00:00,2020-03-12,2021-12-17,2022-01-13,3510 S RHODES 709,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP INC,...,2022,1,01/2022,2021,12,12/2021,2020.0,3.0,03/2020,672 days
9822,20201702876,2021-06-08 00:00:00,2021-06-08,2021-12-17,2022-01-24,6900 S CRANDON 614,CHICAGO,IL,60649,EAST LAKE,...,2022,1,01/2022,2021,12,12/2021,2021.0,6.0,06/2021,230 days
10759,20201704701,2021-02-16 00:00:00,2021-02-16,2022-03-16,2022-04-05,1040 E 73RD ST 202,CHICAGO,IL,60619,EAST LAKE MANAGEMEBT,...,2022,4,04/2022,2022,3,03/2022,2021.0,2.0,02/2021,413 days
12899,20221703309,2022-06-07 00:00:00,2022-06-07,2022-08-09,2022-09-12,4655 S KING DR 203,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP INC,...,2022,9,09/2022,2022,8,08/2022,2022.0,6.0,06/2022,97 days
13158,20221704940,2022-07-21 00:00:00,2022-07-21,2022-08-26,2022-09-29,3620 S RHODES AVE 1701,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP,...,2022,9,09/2022,2022,8,08/2022,2022.0,7.0,07/2022,70 days
13509,20211705862,2022-01-06 00:00:00,2022-01-06,2022-08-05,2022-10-20,2647 W MADISON ST UNIT A,CHICAGO,IL,60651,EAST LAKE MANAGEMENT GROUP INC,...,2022,10,10/2022,2022,8,08/2022,2022.0,1.0,01/2022,287 days
13777,20221707327,2022-08-11 00:00:00,2022-08-11,2022-09-29,2022-11-04,407 E 50TH PL 1,CHICAGO,IL,60615,EAST LAKE MANAGEMENT GROUP INC,...,2022,11,11/2022,2022,9,09/2022,2022.0,8.0,08/2022,85 days
13778,20221707925,2022-08-19 00:00:00,2022-08-19,2022-09-29,2022-11-04,4747 S KING DR 2012,CHICAGO,IL,60615,EAST LAKE MANAGEMENT GROUP INC,...,2022,11,11/2022,2022,9,09/2022,2022.0,8.0,08/2022,77 days
13779,20221707215,2022-08-23 00:00:00,2022-08-23,2022-09-29,2022-11-04,406 E 51ST ST 061,CHICAGO,IL,60615,EAST LAKE MANAGEMENT GROUP INC,...,2022,11,11/2022,2022,9,09/2022,2022.0,8.0,08/2022,73 days
14024,20221707918,2022-09-20 00:00:00,2022-09-20,2022-10-19,2022-11-22,4747 S KING DR 609,CHICAGO,IL,60615,EAST LAKE MANAGEMENT GROUP INC,...,2022,11,11/2022,2022,10,10/2022,2022.0,9.0,09/2022,63 days
14050,20211702291,2022-07-05 00:00:00,2022-07-05,2022-07-18,2022-11-22,3642 S RHODES AVE TH,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP,...,2022,11,11/2022,2022,7,07/2022,2022.0,7.0,07/2022,140 days
14530,20221710797,2022-11-03 00:00:00,2022-11-03,2022-11-22,2023-01-05,1117 S KEDZIE AVE UNIT 1E,CHICAGO,IL,60612,EAST LAKE MANAGEMENT GROUP,...,2023,1,01/2023,2022,11,11/2022,2022.0,11.0,11/2022,63 days
15902,20221718176,2023-01-19 00:00:00,2023-01-19,2023-02-03,2023-03-10,8830 S BURLEY AVE B,CHICAGO,IL,60617,EAST LAKE MANAGEMENT GROUP INC,...,2023,3,03/2023,2023,2,02/2023,2023.0,1.0,01/2023,50 days
16179,20211707385,2022-04-13 00:00:00,2022-04-13,2023-01-27,2023-03-23,3620 S RHODES AVE 1104,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP IMNC,...,2023,3,03/2023,2023,1,01/2023,2022.0,4.0,04/2022,344 days
16497,20221711422,2023-01-20 00:00:00,2023-01-20,2023-02-28,2023-04-10,3510 S RHODES AVE 504,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP INC,...,2023,4,04/2023,2023,2,02/2023,2023.0,1.0,01/2023,80 days
16885,20221717581,2023-02-23 00:00:00,2023-02-23,2023-03-20,2023-04-25,3510 S RHODES AVE 510,CHICAGO,IL,60653,EAST LAKE MANAGEMENT GROUP INC,...,2023,4,04/2023,2023,3,03/2023,2023.0,2.0,02/2023,61 days

In [210]:
# EHRESMAN did exist pre-moratorium, they're only in the Austin neighborhood
len(df_pre.loc[df_pre['Plaintiff Name'].str.contains('EHRESMAN', case=False)])

23

In [211]:
df_pre.loc[df_pre['Plaintiff Name'].str.contains('EHRESMAN', case=False)].groupby('ZIP Code').size()

ZIP Code
60624    11
60644    12
dtype: int64

In [212]:
df_post.loc[df_post['Plaintiff Name'].str.contains('EHRESMAN', case=False)].groupby('ZIP Code').size()

ZIP Code
60624    24
60644    31
dtype: int64

In [221]:
df_pre.loc[df_pre['Plaintiff Name'].str.contains('Chicago Housing Authority', case=False)].groupby('ZIP Code').size().reset_index()

    ZIP Code   0
0      60608   1
1      60609   3
2      60610   1
3      60612   3
4      60615   2
5      60616   3
6      60617   4
7      60621   2
8      60622   1
9      60624   2
10     60625   1
11     60626   2
12     60640   3
13     60649   1
14     60653   4
15     60660   1
16     60827  19

### How have evictions trended by month for the most prolific evictors?

In [ ]:
# define most prolific evictors as:
# pangea = 647
# WPD management = 134
# deutsche = 110
# habitat company = 109
# east lake = 109
# first key = 103
# icarus = 99
# TLC = 93
# kass - 107
# EHRESMAN MANAGEMENT = 86 but had a lot more post moratorium (ranked second, post moratorium)
# Atlas Asset = 66 emerged after moratorium, 6th
# based on keyword searches in Excel b/c the names are all varied
# maybe just plaintiffs with more than 100 evictions enforced from Jan 2019 - Apr. 2023

In [313]:
# remap landlord names

import csv
landlords = [x for x in csv.DictReader(open('manual/Prolific Plaintiffs Dictionary.csv'))]

lookup = {}

for landlord in landlords:
    if landlord['Plaintiff Name'] not in lookup:
        lookup[landlord['Plaintiff Name']] = []
    lookup[landlord['Plaintiff Name']] = landlord['Cleaned Name']
    
# map based on lookup dict to a ne col
df['prolific_plaintiffs']= df['Plaintiff Name'].map(lookup)

In [314]:
# check that habitat compnay == 116
len(df[df['prolific_plaintiffs'] == 'Habitat Company'])

116

In [315]:
# fill NaN non-mapped names
df['prolific_plaintiffs'] = df['prolific_plaintiffs'].fillna('other plaintiffs')

In [316]:
# aggregate by month
df_plaintiffs_month = pd.pivot_table(df, values='Case Number', index='prolific_plaintiffs', columns='enforced_month_year', aggfunc='count').reset_index()

In [317]:
df_plaintiffs_month = df_plaintiffs_month.fillna(0)

In [318]:
# this is what goes into flourish
df_plaintiffs_month

enforced_month_year,prolific_plaintiffs,01/2019,01/2020,01/2021,01/2022,01/2023,02/2019,02/2020,02/2021,02/2022,...,10/2021,10/2022,11/2019,11/2020,11/2021,11/2022,12/2019,12/2020,12/2021,12/2022
0,Atlas Asset Management,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,Deutsche Bank National Trust,0.0,7.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,2.0,5.0,0.0,3.0,4.0,4.0,0.0,7.0,6.0
2,East Lake Management,0.0,9.0,2.0,3.0,1.0,1.0,5.0,1.0,0.0,...,0.0,1.0,4.0,1.0,0.0,5.0,4.0,0.0,1.0,0.0
3,Ehresman Management,0.0,1.0,0.0,1.0,4.0,0.0,5.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,3.0,2.0,0.0,2.0,5.0
4,FirstKey Homes,0.0,4.0,0.0,3.0,4.0,0.0,1.0,0.0,0.0,...,1.0,1.0,2.0,0.0,0.0,5.0,3.0,0.0,0.0,3.0
5,Habitat Company,0.0,1.0,0.0,0.0,6.0,0.0,3.0,0.0,2.0,...,2.0,2.0,4.0,0.0,0.0,4.0,5.0,1.0,1.0,2.0
6,Kass Management,0.0,4.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,3.0,3.0,1.0,1.0,1.0,2.0,4.0,2.0,3.0,0.0
7,Pangea,0.0,25.0,0.0,0.0,30.0,3.0,21.0,0.0,5.0,...,2.0,21.0,39.0,0.0,2.0,10.0,21.0,0.0,1.0,11.0
8,TLC,0.0,4.0,0.0,2.0,5.0,0.0,2.0,0.0,3.0,...,1.0,3.0,3.0,0.0,2.0,3.0,4.0,1.0,1.0,0.0
9,WPD Management,0.0,10.0,0.0,1.0,0.0,0.0,13.0,0.0,0.0,...,0.0,0.0,17.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
10,other plaintiffs,3.0,631.0,45.0,231.0,503.0,76.0,460.0,29.0,328.0,...,280.0,459.0,541.0,43.0,240.0,415.0,456.0,50.0,224.0,338.0

In [319]:
# export into csv
df_plaintiffs_month.to_csv('processed/prolific_plaintiffs_bymonth.csv')

In [334]:
# how many total evictions were prolific plaintiffs responsible for? 
g = df.groupby('prolific_plaintiffs').size().reset_index(name='count')
g['percent'] = g['count']/g['count'].sum()
g

             prolific_plaintiffs  count   percent
0         Atlas Asset Management     66  0.003881
1   Deutsche Bank National Trust    112  0.006586
2           East Lake Management    109  0.006410
3            Ehresman Management     84  0.004939
4                 FirstKey Homes    105  0.006174
5                Habitat Company    116  0.006821
6                Kass Management    107  0.006292
7                         Pangea    647  0.038045
8                            TLC     93  0.005469
9                 WPD Management    133  0.007821
10              other plaintiffs  15434  0.907562

In [309]:
# what happened in August 2021 with Pangea's 20 evictions? it doesn't look like mass evictions anywhere in particular
df[(df['enforced_month_year'] == '08/2021') & (df['prolific_plaintiffs'] == 'Pangea')]

,Case Number,Order Entered Date,Corrected Entered Date,Received Date,Date of Eviction,Address,City,State,ZIP Code,Plaintiff Name,...,enforced_month,enforced_month_year,received_year,received_month,received_month_year,entered_year,entered_month,entered_month_year,entered_enforced_elapsed,prolific_plaintiffs
8390,20201701794,2021-01-15 00:00:00,2021-01-15,2021-07-27,2021-08-04,2612 N LARAMIE AVE 3,CHICAGO,IL,60639,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,1.0,01/2021,201 days,Pangea
8404,20191714397,2020-02-10 00:00:00,2020-02-10,2020-02-18,2021-08-04,1147 N LECLAIRE AVE 3W,CHICAGO,IL,60651,PANGEA VENTURES LLC,...,8,08/2021,2020,2,02/2020,2020.0,2.0,02/2020,541 days,Pangea
8410,20191720264,2021-01-26 00:00:00,2021-01-26,2021-07-27,2021-08-05,2710 E 83RD ST 3A,CHICAGO,IL,60617,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,1.0,01/2021,191 days,Pangea
8411,20191720196,2021-02-16 00:00:00,2021-02-16,2021-07-27,2021-08-05,217 E 68TH ST 3,CHICAGO,IL,60637,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,2.0,02/2021,170 days,Pangea
8412,20201701382,2020-12-29 00:00:00,2020-12-29,2021-07-27,2021-08-05,2845 E 77TH ST 314,CHICAGO,IL,60649,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2020.0,12.0,12/2020,219 days,Pangea
8413,20201703536,2021-01-13 00:00:00,2021-01-13,2021-07-27,2021-08-05,7809 S KINGSTON AVE 1,CHICAGO,IL,60649,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,1.0,01/2021,204 days,Pangea
8414,20191720662,2021-02-18 00:00:00,2021-02-18,2021-07-27,2021-08-05,1514 W 77TH ST 1N,CHICAGO,IL,60620,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,2.0,02/2021,168 days,Pangea
8416,2021701745,2021-07-15 00:00:00,2021-07-15,2021-07-27,2021-08-05,6240 S WESTERN AVE 201M,CHICAGO,IL,60636,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,7.0,07/2021,21 days,Pangea
8417,20201702965,2021-02-08 00:00:00,2021-02-08,2021-07-27,2021-08-05,7126 S EAST END AVE 2N,CHICAGO,IL,60649,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,2.0,02/2021,178 days,Pangea
8420,20211701403,2021-07-09 00:00:00,2021-07-09,2021-07-20,2021-08-05,7958 S BURNHAM AVE 2,CHICAGO,IL,60617,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,7.0,07/2021,27 days,Pangea
8421,20201703009,2021-01-08 00:00:00,2021-01-08,2021-07-20,2021-08-05,7440 S PHILLIPS AVE 3A,CHICAGO,IL,60649,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,1.0,01/2021,209 days,Pangea
8430,20201703522,2021-03-04 00:00:00,2021-03-04,2021-07-27,2021-08-06,13915 S CLARK ST A44,RIVERDALE,IL,60827,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,3.0,03/2021,155 days,Pangea
8431,20201703531,2021-02-16 00:00:00,2021-02-16,2021-07-27,2021-08-06,14031 S SCHOOL ST 3B,RIVERDALE,IL,60827,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,2.0,02/2021,171 days,Pangea
8432,2021701639,2021-07-21 00:00:00,2021-07-21,2021-07-27,2021-08-06,14127 S SCHOOL ST 1,RIVERDALE,IL,60827,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,7.0,07/2021,16 days,Pangea
8433,2021701638,2021-06-21 00:00:00,2021-06-21,2021-07-27,2021-08-06,14021 S TRACY AVE 2B,RIVERDALE,IL,60827,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,6.0,06/2021,46 days,Pangea
8496,20201703519,2021-01-27 00:00:00,2021-01-27,2021-07-27,2021-08-12,8055 S INGLESIDE AVE 2,CHICAGO,IL,60619,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,1.0,01/2021,197 days,Pangea
8518,20191708042,2021-01-13 00:00:00,2021-01-13,2021-07-27,2021-08-16,5501 W WASHINGTON BLVD 411,CHICAGO,IL,60644,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,1.0,01/2021,215 days,Pangea
8519,20201702896,2021-06-23 00:00:00,2021-06-23,2021-07-27,2021-08-16,5501 W WASHINGTON BLVD 207,CHICAGO,IL,60644,PANGEA VENTURES LLC,...,8,08/2021,2021,7,07/2021,2021.0,6.0,06/2021,54 days,Pangea
8526,20211701122,2021-07-22 00:00:00,2021-07-22,2021-08-05,2021-08-17,8308 S INGLESIDE AV 2B,CHICAGO,IL,60619,"PANGEA VENTURES, LLC",...,8,08/2021,2021,8,08/2021,2021.0,7.0,07/2021,26 days,Pangea
8659,20201701803,2021-01-29 00:00:00,2021-01-29,2021-08-19,2021-08-31,8204 S INGLESIDE AVE G,CHICAGO,IL,60619,PANGEA VENTURES LLC,...,8,08/2021,2021,8,08/2021,2021.0,1.0,01/2021,214 days,Pangea

### In what majority zip codes do the most prolific evictors work (e.g., pangea, east lake, etc)?

In [325]:
# filter just pangea and count up zip codes
p = df[df['prolific_plaintiffs'] == 'Pangea'].groupby('ZIP Code').size().reset_index(name = 'pangea_count')

# merge with race
p = p.merge(race, right_on='Zipcode', left_on='ZIP Code', how='inner')

In [329]:
# 95% of pangeas evictions from 2019 to April 2023 were in majority Black ZIP Codes
# for ref, 52% of all evictions during that time were in majority black ZIP codes https://docs.google.com/spreadsheets/d/1Uq5QXCIDeB2tZaGrzRe7ajtzF0D8v6MgcfPgmWbWQyY/edit?usp=sharing
g = p.groupby('Majority')['pangea_count'].sum().reset_index()
g['percent'] = g['pangea_count']/g['pangea_count'].sum()
g

      Majority  pangea_count   percent
0        Black           616  0.952087
1       Latino            26  0.040185
2  No Majority             4  0.006182
3        White             1  0.001546

In [335]:
race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Zipcode              178 non-null    int64
 1   Total                178 non-null    int64
 2   Latino               178 non-null    int64
 3   White                178 non-null    int64
 4   Black                178 non-null    int64
 5   Native American      178 non-null    int64
 6   Asian                178 non-null    int64
 7   Pacific Islander     178 non-null    int64
 8   Other                178 non-null    int64
 9   TOM                  178 non-null    int64
 10  Pct Latino           178 non-null    float64
 11  Pct White            178 non-null    float64
 12  Pct Black            178 non-null    float64
 13  Pct Native American  178 non-null    float64
 14  Pct Asian            178 non-null    float64
 15  Pct Other            178 non-null    float64
 16  Pct TOM              178 non-null    float64
 17  Majority             178 non-null    object
dtypes: float64(7), int64(10), object(1)
memory usage: 25.2+ KB

In [336]:
# do for all prolific plaintiffs

# merge race with df
df = df.merge(race[['Zipcode', 'Total','Majority']], right_on = 'Zipcode', left_on='ZIP Code')

In [341]:
# check
g = df.groupby('Majority').size().reset_index(name = 'count')
g['count'].sum()

16995

In [344]:
g['percent'] = g['count']/g['count'].sum()
g

      Majority  count   percent
0        Asian     15  0.000883
1        Black   8900  0.523683
2       Latino   2114  0.124390
3  No Majority   2508  0.147573
4        White   3458  0.203472

In [349]:
p_pivot = pd.pivot_table(df, values='Case Number', index='prolific_plaintiffs', columns='Majority', aggfunc='count').reset_index()
p_pivot = p_pivot.fillna(0)
p_pivot

Majority,prolific_plaintiffs,Asian,Black,Latino,No Majority,White
0,Atlas Asset Management,0.0,35.0,30.0,1.0,0.0
1,Deutsche Bank National Trust,0.0,65.0,13.0,7.0,27.0
2,East Lake Management,0.0,96.0,5.0,2.0,6.0
3,Ehresman Management,0.0,84.0,0.0,0.0,0.0
4,FirstKey Homes,0.0,78.0,4.0,13.0,10.0
5,Habitat Company,0.0,43.0,6.0,29.0,38.0
6,Kass Management,0.0,54.0,27.0,8.0,18.0
7,Pangea,0.0,616.0,26.0,4.0,1.0
8,TLC,0.0,48.0,0.0,2.0,43.0
9,WPD Management,0.0,127.0,6.0,0.0,0.0
10,other plaintiffs,15.0,7654.0,1997.0,2442.0,3315.0